.box
  .legend
    Search
  = form_tag "/search", :method => :get do
    .boxline
      = text_field_tag "q", @search.q, { :size => 40 }.                |
        merge(@search.q.present? ? {} : { :autofocus => "autofocus" }) |
      %input{:type => "submit", :value => "Search"}/
    .boxline
      %label.required Search:
      = radio_button_tag "what", "stories", @search.what == "stories"
      %label.normal{:for => "what_stories"} Stories
       
      
      \#{radio_button_tag "what", "comments", @search.what == "comments"}
      %label.normal{:for => "what_comments"} Comments
      %br/
      %label.required Order By:
      = radio_button_tag "order", "relevance", @search.order == "relevance"
      %label.normal{:for => "order_relevance"} Relevance
       
      
      \#{radio_button_tag "order", "newest", @search.order == "newest"}
      %label.normal{:for => "order_newest"} Newest
       
      
      \#{radio_button_tag "order", "points", @search.order == "points"}
      %label.normal{:for => "order_points"} Points
- if @search.total_results > -1
  .box
    %p
    .legend
      = @search.total_results
      result#{@search.total_results == 1 ? "" : "s"} for "#{@search.q}"
  %ol.search_results
    - @search.results.each do |res|
      - if res.class == Story
        = render :partial => "stories/listdetail", |
          :locals => { :story => res }             |
      - elsif res.class == Comment
        %li= render "comments/comment", :comment => res, |
            :show_story => true, :hide_voters => true   |
  - if @search.total_results > @search.per_page
    .page_link_buttons
      Page:
      - page_numbers_for_pagination(@search.page_count, @search.page).each do |p|
        - if p.is_a?(Integer)
          %a{:class => "#{@search.page == p ? "cur" : ""}", :href => "/search?#{raw(@search.to_url_params)}=#{p}"}= p
        - else
          %span ...
- else
  .help
    Search by domain with `domain:example.com` and #{link_to 'tag', tags_path} with `tag:meta`.
